/* .{
    text-align: center;
    font-style: inherit;
    color: rgba(249, 249, 252, 0.979);
    border: 3px solid red;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-style: inset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(42, 42, 66);
  
} */

.winfred{
    text-align: left;
}

.doll{
    display: flex;
    background: rgb(26, 26, 39);
}
#me{
    height: 180px;
}

.moon{
    text-align: center;
    color: antiquewhite;
    font-size: 27px;
}
.sun{
    font-family:'Times New Roman', Times, serif;
}
/* .change{
    text-align:
} */
  

    

